################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/H2/TestDBConn/.vs/TestDBConn/v15/Server/sqlite3
